/* @font-face {
	font-family: 'Montserrat Ultra';
	src: url('./../fonts/Montserrat-UltraLight.eot');
	src: url('./../fonts/Montserrat-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-UltraLight.woff') format('woff'),
		url('./../fonts/Montserrat-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}
 */
@font-face {
	font-family: 'Montserrat';
	src: url('./../fonts/Montserrat-Bold.eot');
	src: url('./../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-Bold.woff') format('woff'),
		url('./../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* @font-face {
	font-family: 'Montserrat Semi';
	src: url('./../fonts/Montserrat-SemiBold.eot');
	src: url('./../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-SemiBold.woff') format('woff'),
		url('./../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Hairline';
	src: url('./../fonts/Montserrat-Hairline.eot');
	src: url('./../fonts/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-Hairline.woff') format('woff'),
		url('./../fonts/Montserrat-Hairline.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Extra';
	src: url('./../fonts/Montserrat-ExtraBold.eot');
	src: url('./../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-ExtraBold.woff') format('woff'),
		url('./../fonts/Montserrat-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}
 */
/* @font-face {
	font-family: 'Montserrat';
	src: url('./../fonts/Montserrat-Black.eot');
	src: url('./../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-Black.woff') format('woff'),
		url('./../fonts/Montserrat-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: url('./../fonts/Montserrat-Light.eot');
	src: url('./../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-Light.woff') format('woff'),
		url('./../fonts/Montserrat-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
 */
/* @font-face {
	font-family: 'Montserrat';
	src: url('./../fonts/Montserrat-Regular.eot');
	src: url('./../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Montserrat-Regular.woff') format('woff'),
		url('./../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
} */

@font-face {
	font-family: 'Bello Script';
	src: url('./../fonts/Bello-Script.eot');
	src: url('./../fonts/Bello-Script.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/Bello-Script.woff') format('woff'),
		url('./../fonts/Bello-Script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: 'Noto Sans';
	src: url('./../fonts/NotoSans-Italic.eot');
	src: url('./../fonts/NotoSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/NotoSans-Italic.woff') format('woff'),
		url('./../fonts/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('./../fonts/NotoSans-BoldItalic.eot');
	src: url('./../fonts/NotoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/NotoSans-BoldItalic.woff') format('woff'),
		url('./../fonts/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('./../fonts/NotoSans-Bold.eot');
	src: url('./../fonts/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/NotoSans-Bold.woff') format('woff'),
		url('./../fonts/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('./../fonts/NotoSans.eot');
	src: url('./../fonts/NotoSans.eot?#iefix') format('embedded-opentype'),
		url('./../fonts/NotoSans.woff') format('woff'),
		url('./../fonts/NotoSans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
 */