@media (max-width: 991px){
	.topo{min-height: 350px;}
	.logo-topo{margin: 10px 0;}
	.titulo-banner h1{font-size: 25px;}
	.titulo-banner p {font-size: 16px;}

	/*.menu-principal {margin: 10px 0 0 0;}*/

	.menu-toggle{position: absolute; background-color: green; z-index: 3; left: 1px; bottom: 1px;}

	main{top: 350px;}

	.sobre-mim p{text-align: justify;}

	.bl-skill p{font-size: 12px; margin-top: 10px;}
	.slick-dots li.slick-active button:before{color: #36B9EB !important;}
	.slick-dots li button:before{color: #36B9EB !important;}
}
