html{
	background-color: #f7f7f7;
}
html * {
	font-family: 'Noto Sans', sans-serif !important;
}
h1, h2, h3, h4{font-family: 'Montserrat', sans-serif !important;}

@import url('https://fonts.googleapis.com/css?family=Roboto');

p { font-family: 'Roboto', sans-serif !important; font-size: 1.2em; text-align: justify; }
.p-indent p { text-indent: 3em; }

.roboto { font-family: 'Roboto', sans-serif !important; }
.noto-sans { font-family: 'Noto Sans', sans-serif !important; }

.titulo-underline{border-bottom: 1px solid #36b9eb; padding: 3px 0;}

/* .slick-dots { bottom: -40px !important; }
.slick-dots li button:before{ content: "" !important; }
.slick-dots li{color: #36B9EB !important; background-color: #36B9EB !important; border-radius: 50%; opacity: .5}
.slick-dots li.slick-active {opacity: 1;}
.slick-dots li.slick-active button:before{color: #36B9EB !important;} */
.slick-slide img{
	margin: 0 auto;
}

/*TOPO*/
	header{position: fixed; z-index: 1; width: 100%}
	.topo{background: url(../img/site/layout/banner.jpg)no-repeat center center; min-height: 600px; width: 100%;}
	.overlay-topo{background: #404040; min-height: 600px; width: 100%;}
	.logo-topo{margin: 40px 0; text-align: center}
	.logo-topo a{font-family: 'Bello Script' !important; color: white; font-size: 46px;}
	.logo-topo a:hover{text-decoration: none;}
	.menu-principal{float: right; margin: 60px 0 0 0; font-weight: bold; font-family: 'Montserrat' !important;}
	.menu-principal ul{list-style: none}
	.menu-principal ul li{float: left; padding: 0 15px; font-size: 18px;}
	.menu-principal ul li a{text-decoration: none; color: white;}
	.menu-principal ul li a:hover{text-decoration: none; color: black;}

	.titulo-banner{margin-top: 40px;}
	.titulo-banner h1{text-align: center; color: #fff; font-size: 55px; font-weight: bold; text-transform: uppercase;}
	.topo-underline{border-bottom: 1px solid #36b9eb; margin-bottom: 40px;}
	.titulo-banner p{color: #fff; text-align: center; font-size: 20px;}
/*FIM TOPO*/

/* GERAL */
	main{z-index: 2; position: absolute; width: 100%; top: 100%;}
	/* .main-wrapper{width: 100%; top: 90%;} */
	section, footer {padding: 3em 0;}
	h2{font-weight: bold; text-align: center; margin: 40px 0 30px 0;}
	.underline-branco{margin: 1.5em auto 0; width: 50%; background-color: transparent;}
/* FIM GERAL */


/*SOBRE MIM*/
	.sobre-mim{background-color: #f7f7f7;}
	.sobre-mim p:first-child{margin-top: 3em;}
	.foto-carlos{border-radius: 50%; /* background:url(../img/site/layout/carlos-portfolio.jpg) top; */ /*min-width: 350px; min-height: 350px;*/ overflow: hidden; border: 5px solid black;}
	.foto-carlos img {width: 100%}
/*FIM SOBRE MIM*/

/* HABILIDADES */
	.habilidades{background-color: #151515; color: #fff;}
	.bl-skill{padding: 20px; background-color: #fff; border-radius: 10px 10px 0 0; color: black; border:2px solid #36b9eb; min-height: 200px !important; margin: 0 20px; transition: all .5s ease;}
	.bl-skill .img-habi{margin:0 auto; margin: 0px auto 1em;text-align: center; min-height: 100px; }
	.skill-title{border-bottom: 2px solid #36b9eb; text-align: center; width: 100%; margin: 1em 0; font-weight: bold; font-size: 1.6em;}
	.bl-skill p{text-align: justify;}
	.habilidade-habi_title{text-align: center; font-weight: bold; font-size: 1em; display: inline;}
	.habilidade-habi_title h3 {  }

	@media (min-width: 991px){
		.bl-skill .img-habi{ height: 150px; }
		.habilidade-habi_title{min-height: 3.5em;}		
	}
	
	/* .nivel { display: none; width: 100%; transition: all .6s ease; }
	.bl-skill:hover {opacity: .6;}
	.bl-skill:hover .nivel{ display: block;  }
	.bl-skill:hover .barra-nivel{ width:  } */
	
	
/* FIM HABILIDADES */

/* TRABALHOS REALIZADOS */
	.trabalhos-realizados{background-color: #f7f7f7;}
	.trabalhos-realizados p{text-align: justify;}
	.trabalho-descricao{text-align: center}
	.bloco-trabalho{max-height: 300px; overflow: hidden; border: 2px solid black; padding: 0; border-radius: 5px;}
	.bloco-trabalho img{transition: all linear .3s; width: 100%;}
	.wrapper-bloco-trabalho{position: relative;}
	.bloco-trabalho:hover img{opacity: .3; transition: all .5;}
	.bloco-trabalho:hover .trabalho-descricao{position: absolute; color: black; font-weight: bold; top: 20%;max-width: 80%;margin-left: 5%;}
	.trabalho-descricao a.btn{border:2px solid black; color: black;}
/* FIM TRABALHOS REALIZADOS */

/* CONTATO / FOOTER */
	.obrigatorio { color: red; }
	.contato{background-color: #151515; color: white}
	.contato p{margin-bottom: 2em; text-align: center;}
	.contato form input[type=sumbit]{background-color: green !important; color}
	.logo-rodape{color: white; text-align: center;}
	.logo-rodape a{font-family: 'Bello Script' !important; font-size: 20px; color: white; text-decoration: none;}
	.redes-sociais { margin: 10px 0; }
	.redes-sociais img{ background-color: white; border-radius: 10px; transition: .4s all ease}
	.redes-sociais .col-md-4:nth-child(1) img:hover{ box-shadow: -5px 2px 1px 1px #36B9EB; background-color: #36B9EB; }
	.redes-sociais .col-md-4:nth-child(2) img:hover{ box-shadow: 0px 6px 1px 1px #36B9EB; background-color: #36B9EB; }
	.redes-sociais .col-md-4:nth-child(3) img:hover{ box-shadow: 5px 2px 1px 1px #36B9EB; background-color: #36B9EB; }
/* FIM CONTATO / FOOTER */



/*RESPONSIVO*/

@media (max-width: 991px){
	.topo{min-height: 350px;}
	.logo-topo{margin: 10px 0;}
	.titulo-banner h1{font-size: 25px;}
	.titulo-banner p {font-size: 16px;}

	/*.menu-principal {margin: 10px 0 0 0;}*/

	.menu-toggle{position: absolute; background-color: green; z-index: 3; left: 1px; bottom: 1px;}

	main{top: 350px;}

	.sobre-mim p{text-align: justify;}

	.bl-skill p{font-size: 12px; margin-top: 10px;}
	.slick-dots li.slick-active button:before{color: #36B9EB !important;}
	.slick-dots li button:before{color: #36B9EB !important;}

	.habilidade-habi_title h3 { font-size: 1em; }
}
