<!-- CONTATO -->
<footer id="contato" class="contato" ng-controller="ContatoController">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				Contato
				<underline></underline>
			</h2>
			<!-- <div class="col-md-12" compile="contatoNode.cont_chamada" us-spinner spinner-theme="temaAzulPeq" spinner-on="loading">
			</div> -->
			<form novalidate name="formContato" ng-submit="enviarContato()">
				<div class="form-group col-md-offset-2 col-md-4">
					<label for="nome"><span class="obrigatorio">*</span> Nome:</label>
					<input ng-model="contato.nome" id="nome" type="text" name="nome" class="form-control" placeholder="Ex.: Elliot Alderson" required ng-minlength="4">
					<!-- <div ng-show="formContato.$submitted && formContato.$error.nome.minlength" class="text-center alert alert-danger" role="alert-danger">Este campo é obrigatório</div> -->
				</div>
				<div class="form-group col-md-4">
					<label for="email"><span class="obrigatorio">*</span> E-mail:</label>
					<input ng-model="contato.email" id="email" type="email" name="email" class="form-control" placeholder="Ex.: tyrell.wellick@ecorp.com" required>
					<!-- <div ng-show="formContato.$submitted && formContato.$error.email" class="text-center alert alert-danger" role="alert-danger">Preencha com um e-mail válido</div> -->
				</div>
				<div class="form-group col-md-offset-2 col-md-4">
					<label for="telefone">Telefone:</label>
					<input ng-model="contato.telefone" id="telefone" type="phone" name="telefone" class="form-control" placeholder="Ex.: (xx) xxxx-xxxx">
				</div>
				<div class="form-group col-md-4">
					<label for="celular">Celular:</label>
					<input ng-model="contato.celular" id="celular" type="phone" name="celular" class="form-control" placeholder="Ex.: (xx) xxxxx-xxxx">
				</div>
				<div class="form-group col-md-offset-2 col-md-8">
					<label for="mensagem"><span class="obrigatorio">*</span> Mensagem:</label>
					<textarea ng-model="contato.mensagem" id="mensagem" type="text" name="mensagem" rows="6" class="form-control" placeholder="Ex.: Hello Friend! Tell me one thing, are you a 1 or a 0? You are gonna act or not?" required ng-minlength="10"></textarea>
					<!-- <div ng-show="formContato.$submitted && formContato.$error.mensagem.minlength" class="text-center alert alert-danger" role="alert-danger">Este campo é obrigatório</div> -->
				</div>
				<div class="form-group col-md-offset-2 col-md-8">
					<div ng-show="alert.length" class="text-center alert alert-{{tipoalert}}" role="alert-{{tipoalert}}">{{alert}}</div>
					<input type="submit" class="btn btn-primary btn-block col-md-12" ng-disabled="formContato.$invalid">
				</div>
			</form>
		</div>				
	</div>
	<hr class="underline-branco">
	<div class="logo-rodape">
		<div class="row redes-sociais">
			<div class="container">
				<div class="col-md-2 col-md-offset-5 col-xs-offset-1 col-xs-10">
					<div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-2 col-xs-4">
						<a href="https://github.com/brsilvacarlos" target="_blank"><img src="img/site/layout/github.svg" alt="Github"></a>
					</div>
					<div class="col-md-4 col-md-offset-0 col-sm-2 col-xs-4">
						<a href="https://twitter.com/brsilvacarlos" target="_blank"><img src="img/site/layout/twitter.svg" alt="Twitter"></a>
					</div>
					<div class="col-md-4 col-md-offset-0 col-sm-2 col-xs-4">
						<a href="https://www.linkedin.com/in/carlos-augusto-da-silva-b1ab69a2" target="_blank"><img src="img/site/layout/linkedin.svg" alt="LinkedIn"></a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p><a href="" ng-click="gotoElement('home')">Silva Carlos &copy;</a> - 2016</p>
			</div>
		</div>
	</div>
</footer>	
<!-- CONTATO -->