<!-- HABILIDADES -->
<section id="habilidades" class="habilidades" ng-controller="HabilidadesControler">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				Habilidades
				<underline></underline>
			</h2>
			
			<slick ng-if="carregaSlick" settings="slickConfig" infinite=true slides-to-show={{slideHabilidades}} slides-to-scroll="{{nSlides}}" arrows="{{arrows}}">


			    	<div class="bl-skill" ng-repeat="habilidade in habilidades" ng-hide="{{habilidade.habi_ativo != 1}}">
			    		<div class="img-habi">
						<!-- <img src="{{nodeUrl}}/img/habilidades/{{habilidade.habi_img}}" alt="{{habilidade.habi_descricao}}" title="{{habilidade.habi_titulo}}" class="img-responsive"> -->
						<img src="{{habilidade.habi_img}}" alt="Imagem da habilidade {{habilidade.habi_titulo}}" title="{{habilidade.descricao}}" class="img-responsive">
			    		</div>
					<div class="habilidade-habi_title">
						<h3 class="roboto">{{habilidade.habi_titulo}}</h3>
					</div>
					<!-- <p>{{habilidade.habi_descricao}}</p> -->
				</div>
			</slick>

			<!-- SPINNER -->
			<div class="col-md-12" us-spinner spinner-theme="temaAzulPeq" spinner-on="loading"></div>
			
		</div>				
	</div>				
</section>	
<!-- HABILIDADES -->