<!-- SOBRE MIM -->
<section id="sobre-mim" class="sobre-mim" ng-controller="SobreMimController">
	<div class="container">
		<div class="row">
			<h2 class="text-center">
				Sobre Mim
				<underline></underline>
			</h2>

			<!-- SPINNER -->
			<div class="col-md-12" us-spinner spinner-theme="temaPretoPeq" spinner-on="loading"></div>
			
			<div class="col-md-4 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3" ng-hide="loading">
				<figure>
					<div class="foto-carlos"><img class="img img-responsive img-rounded" src="img/site/layout/{{sobreMim.sobr_img}}" alt="Minha imagem!" title="Minha imagem!"></div>
				</figure>
			</div>
			<!-- <div class="col-md-offset-1 col-md-7" ng-hide="loading"> -->
			<div class="col-md-offset-1 col-md-7 col-sm-12 col-xs-12">
				<p>Me chamo Carlos Augusto, eu sou graduado em Ciência da Computação, e atualmente trabalho na agência de Marketing digital: Plataformanet.</p> 
				<p>Atualmente Programador Júnior, e realizo o desenvolvimento de sites na linguagem PHP (Codeigniter), em Java(Spring e Hibernate), Node.js e utilizando em Javascript (Angular.js) e todos eles utilizando o framework e bibliotecas front-end como: Bootstrap(Versões 2, 3 e 4) e Jquery.</p> 
				<p>Sou fascinado por programação, e sempre possuo interesse em aprender mais sobre linguagens de programação, sistemas operacionais, novas tecnologias, enfim, tudo ligado à tecnologia da informação.</p>
				
				<!-- <div class="p-indent" compile="sobreMim.sobr_texto">
				</div> -->

				<!-- <div ng-bind-html-unsafe="sobreMim.sobr_texto"></div> -->
				<!-- <div ng-bind-html="sobreMim.sobr_texto"></div> -->

			</div>
		</div>				
	</div>
</section>
<!-- SOBRE MIM -->