<header>
	<!-- BANNER -->
	<div class="topo" id="home" ng-controller="BannerController">
		<div class="container">
			<!-- MENU PRINCIPAL -->
			<div class="row">
				<div class="col-md-3 col-sm-offset-3 col-sm-12 col-xs-12 logo-topo">
					<a href="" class="brand">Carlos Silva</a>
				</div>
				<div class="col-md-9 hidden-xs">
					<nav class="menu-principal">
						<ul>
							<!-- <li><a href="" ng-click="gotoElement('home')">Home</a></li> -->
							<li><a href="" ng-click="gotoElement('sobre-mim')">Sobre Mim</a></li>
							<li><a href="" ng-click="gotoElement('habilidades')">Habilidades</a></li>
							<li><a href="" ng-click="gotoElement('trabalhos-realizados')">Trabalhos Realizados</a></li>
							<li><a href="" ng-click="gotoElement('contato')">Contato</a></li>
						</ul>
					</nav>
				</div>
			</div>
			<!-- MENU PRINCIPAL -->
			<div class="row">
				<div class="col-md-offset-2 col-md-8 titulo-banner" us-spinner spinner-theme="temaAzul" spinner-on="loading">
					<h1>{{banner.bann_chamada}}</h1>
					<div class="col-md-12">
						<p class="visible-md">
							<br><div class="col-md-offset-4 col-md-4 topo-underline" ng-hide="loading"></div>
						</p>
					</div>
					<p>{{banner.bann_subchamada}}</p>
				</div>
			</div>
		</div>
	</div>
	<!-- BANNER -->
</header>