<!-- TRABALHOS REALIZADOS -->
<section id="trabalhos-realizados" class="trabalhos-realizados" ng-controller="TrabalhosRealizados">
	<div>
		<div class="container">
			<div class="row">
				<h2 class="text-center">
					Trabalhos Realizados
					<underline></underline>
				</h2>
				<div class="col-md-12">
					<p>{{chamadaPortfolio}}</p>
				</div>
				<div class="col-md-12">
					<slick ng-if="carregaSlick" settings="slickConfig" infinite=true slides-to-show={{slideTrabalhos}} slides-to-scroll={{slideTrabalhos}}>
						<!-- <div class="col-md-3 wrapper-bloco-trabalho" ng-mouseover="hover='animated pulse infinite'" ng-mouseleave="hover=''" ng-repeat="trabalho in trabalhos" ng-hide="trabalho.trab_ativo != 1">
							<div class="bloco-trabalho" ng-class="hover"> -->
						<div class="col-md-3 wrapper-bloco-trabalho" ng-repeat="trabalho in trabalhos" ng-hide="trabalho.trab_ativo != 1">
							<div class="bloco-trabalho" ng-class="hover">
								<img src="{{trabalho.trab_img}}" alt="{{trabalho.trab_titulo}}" title="{{trabalho.trab_titulo}}" class="img-responsive">
								<div class="trabalho-descricao">
									<h3 class="roboto">{{trabalho.trab_titulo}}</h3>
									<p class="roboto">
										{{trabalho.trab_descricao}}												
									</p>
									<a class="btn" href="{{trabalho.trab_link}}" target="_blank">Abrir Site</a>
								</div>
							</div>
						</div>
					</slick>
				</div>

				<!-- SPINNER -->
				<div class="col-md-12" us-spinner spinner-theme="temaPreto" spinner-on="loading"></div>

			</div>				
		</div>				
	</div>
</section>	
<!-- TRABALHOS REALIZADOS -->